.container
{
	margin-top:0px;
	margin-left: 10px;
}
.header {
	width: 80%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 10px 10px;
	padding: 10px;
}

#editor
   {
    margin-top: 0px;
    height:80%;
    width: 50%;
   }
    
form, .content {
	width: 80%;
	margin: 0px auto;
	padding: 20px;

	background: white;
	border-radius: 0px 0px 10px 10px;
}
.themeSelection
{
vertical-align: : left;
display: inline-block;
position: absolute;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.row{

	width:110%;
	height: auto;
	text-align:center;
	float: center;
	margin-left:10px;
	

}

.col-sm-4
{

}

.col-xl-2
{
	width:100px;
	fill: inherit;
}

.col-xl-10
{
	margin-top: 0px;
}
.social
 {
 	float:left;
 	display: inline-block;
 	 position:absolute;
 	 
 	 top: -10%;
 	 transform: translateY(20%);
 	 width: 10%;
 	

 }
   .btn
   {
   	display: inline-block;
   	width: 80%;
   
   	background: #101010;
   	margin: 5px;
   	border-radius: 30%;
   	box-shadow: 0px 5px 15px -5px #00000070;
   	color: #3498db;
   	overflow: hidden;
   	position: relative;

   }
 .btn i
  {
  	line-height: 90px;
  	font-size: 26px;
  	transition: 0.2s linear;

  }
  .btn:hover i
   {
   	 transform : scale(1.4);
   	 color: #f1f1f1;

   }
   .btn::before
    {
    	content: "";
    	position: absolute;
    	width: 120%;
    	height: 120%;
    	background: #3498db;
    	transform: rotate(45deg);
    	left: -110%;
    	top: 90%;

    }
   .btn:hover::before
    {
    	animation: aaa 0.7s 1;
    	top: -10%;
    	left: -10%;
    }

    @keyframes aaa
     {
     	0%{
     		top: -110%;
    	left: 90%;
     	}
     	50%{
     	top: 10%;
    	left: -30%;
     	}
     	100%{
     		top: -10%;
    	left: -10%;
     	}

     }
 
.bclass
 {
 	float: left;
 	margin-left: 10px;
  text-align: center;
 }
