.header {
	width: 60%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 10px 10px;
	padding: 10px;
}
    
form, .content {
	width: 60%;
	margin: 0px auto;
	padding: 10px;
	background: white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 0px 5px red;
}



.input-group-mb-3 {
	margin: 0px 0px 0px 0px;
}
.input-group-mb-3 label {
	display: block;
}
.input-group-mb-3 input {
	height: 30%;
	width: 100%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.btn
   {
   	display: inline-block;
   	width: 20%;
   	height: 20%;
   	background: #101010;
   	margin: 5px;
   	border-radius: 30%;
   	box-shadow: 0px 5px 15px -5px #00000070;
   	color: #3498db;
   	overflow: hidden;
   	position: relative;

   }
.btn i
  {
  	line-height: 90px;
  	font-size: 26px;
  	transition: 0.2s linear;

  }
  .btn:hover i
   {
   	 transform : scale(1.4);
   	 color: #f1f1f1;

   }
  