.container
{
	margin-top:5px;
	border: 1px solid black;
	margin-left: 10px;
}
.row{

	width:1260px;
	height: 990px;
	text-align:center;
	float: left;
	margin-left: 10px;
	border: 1px solid red;
	box-shadow: 5px 5px #888888;

}
.col-xl-2
{
	width:100px;
	fill: inherit;
}

.col-xl-10
{
	margin-top: 0px;
}

.formclass
{
	width: 500px;
	height: 520px;
	background-color: #fafafa;
	box-shadow: 5px 5px #444444;
	margin-left: 400px;

	text-align: center;
	

}
.social
 {
 	 position: absolute;
 	 top: 50%;
 	 transform: translateY(80%);
 	 width: 100%;
 	 text-align: center;

 }
 .btn
 {
 	display: inline-block;
 	width: 80px;
 	height: 80px;
 	background: #101010;
 	margin: 5px;
 	border-radius: 30%;
 	box-shadow: 0px 5px 15px -5px #00000070;
 	color: #3498db;
 	overflow: hidden;
 	position: relative;

 }
 .btn i
  {
  	line-height: 90px;
  	font-size: 26px;
  	transition: 0.2s linear;

  }
  .btn:hover i
   {
   	 transform : scale(1.4);
   	 color: #f1f1f1;

   }
   .btn::before
    {
    	content: "";
    	position: absolute;
    	width: 120%;
    	height: 120%;
    	background: #3498db;
    	transform: rotate(45deg);
    	left: -110%;
    	top: 90%;

    }
   .btn:hover::before
    {
    	animation: aaa 0.7s 1;
    	top: -10%;
    	left: -10%;
    }

    @keyframes aaa
     {
     	0%{
     		top: -110%;
    	left: 90%;
     	}
     	50%{
     	top: 10%;
    	left: -30%;
     	}
     	100%{
     		top: -10%;
    	left: -10%;
     	}

     }
 .social1
 {
 	 position: absolute;
 	 top: 93%;
 	 transform: translateY(80%);
 	 width: 100%;
 	 text-align: center;

 }





	